.wrapper {
  :global(.swiper-slide) {
    height: auto;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }

    .animate-heading,
    .animate-btn {
      opacity: 0;
    }

    .animate-heading {
      transform: translateY(20px);
    }

    .animate-btn {
      transform: translateY(40px);
    }
  }

  :global(.swiper-slide-active) {
    .animate-heading {
      animation: heading 0.3s forwards 0.3s;
    }

    .animate-btn {
      animation: button 0.6s forwards 0.3s;
    }
  }

  :global(.swiper-pagination) {
    bottom: 15px;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      bottom: 40px;
    }
  }

  :global(.swiper-pagination-bullet) {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: transparent;
    opacity: 1;

    &:after {
      content: '';
      background: #fff;
      border-radius: 100%;
      width: 6px;
      height: 6px;
      display: block;
      margin-top: -1px;
      margin-left: -1px;
      opacity: 1;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    border: 2px solid #fff;
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;

    &:after {
      font-size: 1.2rem;
    }

    @media (min-width: 640px) {
      display: flex;
    }
  }

  :global(.swiper-button-prev) {
    left: 15px;

    @media (min-width: 768px) {
      left: 40px;
    }
  }

  :global(.swiper-button-next) {
    right: 15px;

    @media (min-width: 768px) {
      right: 40px;
    }
  }
}

.tada {
  animation: tada 6s infinite;

  @media (max-width: 419.98px) {
    max-width: 208px;
  }
}

@keyframes heading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes button {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
